body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: yellow;
  display: flex;
  flex-direction: row;
}

.title-1 {
  background: red;
  flex-basis: 150px;
}

.title-2 {
  background: blue;
  flex-basis: 150px;
}

.title-3 {
  background: green;
  flex-basis: 150px;
}

h1 {

}
