html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: yellow;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

figure {
  margin: 0;
  display: block;
  height: 150px;
  flex: 0 150px;
  position: relative;
}

figcaption {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 4px;
  box-sizing: border-box;
}
