body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: yellow;
  display: flex;
  /*flex-direction: row;*/
}

.title-1 {
  background: red;
  /*flex-basis: 120px;
  flex-grow: 1;*/
}

.title-2 {
  background: blue;
  /*flex-basis: 40px;
  flex-grow: 2;*/
}

.title-3 {
  background: green;
  /*flex-basis: 100px;
  flex-grow: 3;*/
}

h1 {
  flex-basis: 200px;
  flex-shrink: 0;
}
